@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
.site-title {
    font-family: 'Roboto Slab', serif; /* Specific font for the site title */
    font-size: 2em;
    color: #ffffff;
    margin: 0;
    font-weight: bold;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}